<div class="card">
  <h2>{{ product.blend_name }}</h2>
  <img src="../../assets/Roasted_coffee_beans.jpg" alt="coffee">
  <div class="product-description">
    <h4>product-details </h4>
    <div class="detail">
      <label>Variety:</label>
      <p>{{product.variety}}</p>
    </div>
    <div class="detail">
      <label>Notes:</label>
      <p>{{product.notes}}</p>
    </div>
    <div class="detail">
      <label>Intensifier:</label>
      <p>{{product.intensifier}}</p>
    </div>
  </div>
</div>
