<nav aria-label="...">
  <ul class="pagination">
    <li
      (click)="onPrev()"
      class="page-item disabled">
      <button
        [disabled]="currentPage < 2"
        class="page-link" tabindex="-1">Previous</button>
    </li>
    <li
      *ngFor="let page of getPages()"
      (click)="onPage(page)"
      class="page-item">
      <button class="page-link" [ngClass]="{'active-page' : page === currentPage}">
        {{page}}
      </button>
    </li>
    <li
      (click)="onNext()"
      class="page-item">
      <button [disabled]="isOnLastPage()" class="page-link">Next</button>
    </li>
  </ul>

</nav>
